= simple_form_for @contact, url: contact_create_path do |contact_field|
  #add_address_fields
    = render partial: "address_fields", locals: { contact_field: contact_field, child_index: Time.now.to_i, address_count: @address_count }
